name: Sync to PioneerAlpha (Force)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  force-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Force Push to PioneerAlpha
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
          TARGET_REPO: 'pioneerAlpha/protigga-backend-nodejs'
          TARGET_BRANCH: 'main'
          USER_NAME: 'rashedul360'
        run: |
          # Git Config setup
          git config --global user.email "rashedul360rs@gmail.com"
          git config --global user.name "rashedul360"

          # Add Remote with Token authentication
          git remote add pioneer "https://$USER_NAME:$API_TOKEN_GITHUB@github.com/$TARGET_REPO.git"

          # Force Push (Overwrite destination)
          git push pioneer main:$TARGET_BRANCH --force
