name: Sync to PioneerAlpha

on:
  push:
    branches:
      - main

jobs:
  sync-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to Target Repo
        run: |

          git remote add target https://oauth2:${{ secrets.TARGET_REPO_TOKEN }}@github.com/pioneerAlpha/protigga-backend-nodejs.git


          git push target main --force
